@charset "UTF-8";

.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-bottom: 10px;
}

.div_1{
    height: 100%;
    width: 55%;
    background-color: rgb(255, 255, 255);
}

.banner{
    height: 100%;
    width: 33%;
    box-sizing: border-box;
    margin-left: 20px;
}

.bannerimg{
    height: 100%;
    width: 100%;
}

.div_2{
    height: 100%;
    width: 45%;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 15px;
}

.labelbox{
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
}

.nav_label{
    text-decoration: none;
    color: black;
    transition: 0.25s ease-in-out;
}

.nav_label:hover{
    text-decoration: underline;
    color: #594db7;
    font-size: 23px;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: -55px;
}

.backimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.button-container {
    position: absolute;
    top: 585px;
    left: 180px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 50px;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s ease-in-out;

}

.stp_home_btn{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #594db7;
}

.footer{
    margin-top: -45px;
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}

